.title-bar {
    padding: 0 20vw;
    border: 1px solid gray;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: white;
    margin-bottom: 3rem;
}

.title-bar>h1 {
    color: #9d92ff;
    margin-top: 10px;
    margin-bottom: 20px;
}

.title-bar>h1::before {
    content: url("../Icons/insta-icon.png");
    display: inline-block;
    position: relative;
    right: 10px;
    top: 12.5px;
}

.title-bar>img {
    height: 100%;
    position: relative;
    top: 2rem;
}

@media screen and (max-width: 600px) {
    .title-bar {
        padding: 0 8vw;
    }
}